<a href="https://colab.research.google.com/github/LazyHooks/Optimus/blob/main/optimus_v2_big4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('big4train3.csv')
df.head()

,Company Name,Co. Designation,Co. Function,Domain,Job Family Code
0,Combined,Manager,CONSULTING,Customer & Marketing,MBDM
1,Combined,Manager,CONSULTING,Customer & Marketing,MBDM
2,Combined,Manager,CONSULTING,Customer & Marketing,MBDM
3,Combined,Manager,CONSULTING,Customer & Marketing,MBDM
4,Combined,Manager,CONSULTING,Customer & Marketing,MBDM

In [25]:
df_test = pd.read_csv('big4test3.csv')
df_test.head()

     Co. Designation   Co. Function Job Family Code
0             Senior  Digital Nexus        Unmapped
1  Assistant Manager  Digital Nexus        Unmapped
2          Executive  Digital Nexus        Unmapped
3          Executive  Digital Nexus        Unmapped
4            Manager  Digital Nexus        Unmapped

In [26]:
df.shape
set(df['Company Name'])

{'Combined'}

In [27]:
df.columns

Index(['Company Name', 'Co. Designation', 'Co. Function', 'Domain',
       'Job Family Code'],
      dtype='object')

In [28]:
train_cols = ['Co. Designation', 'Co. Function']

In [29]:
target_col = 'Job Family Code'

In [30]:
all_cols = ['Co. Designation', 'Co. Function', 'Job Family Code']

In [31]:
import pandas as pd
from scipy.sparse import hstack
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [32]:
# Load data
data = pd.read_csv('big4train3.csv')

In [33]:
df_test.head()

     Co. Designation   Co. Function Job Family Code
0             Senior  Digital Nexus        Unmapped
1  Assistant Manager  Digital Nexus        Unmapped
2          Executive  Digital Nexus        Unmapped
3          Executive  Digital Nexus        Unmapped
4            Manager  Digital Nexus        Unmapped

In [34]:
data = data[all_cols]
data = data.dropna()

In [35]:
df_test = df_test[all_cols]
df_test = df_test.dropna()

In [36]:
data.head()

  Co. Designation Co. Function Job Family Code
0         Manager   CONSULTING            MBDM
1         Manager   CONSULTING            MBDM
2         Manager   CONSULTING            MBDM
3         Manager   CONSULTING            MBDM
4         Manager   CONSULTING            MBDM

In [37]:
df_test.head()

     Co. Designation   Co. Function Job Family Code
0             Senior  Digital Nexus        Unmapped
1  Assistant Manager  Digital Nexus        Unmapped
2          Executive  Digital Nexus        Unmapped
3          Executive  Digital Nexus        Unmapped
4            Manager  Digital Nexus        Unmapped

In [38]:
# Extract features from each text column using TF-IDF vectorizer
vectorizers = []
X_train_list = []
X_test_list = []
for col in train_cols:
    vectorizer = TfidfVectorizer(max_features=10000)
    X_train_col = vectorizer.fit_transform(data.loc[:, col])
    X_train_list.append(X_train_col)
    X_test_col = vectorizer.transform(data.loc[:, col])
    X_test_list.append(X_test_col)
    vectorizers.append(vectorizer)

In [39]:
# Concatenate sparse matrices into a single feature matrix
X_train = hstack(X_train_list)
X_test = hstack(X_test_list)

# Split data into training and testing sets
y_train = data[target_col]
#y_test = df_test[target_col]

X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [40]:
# Train logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on test set and evaluate performance
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:\n', classification_report(y_test, y_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy: 0.48080498233872465

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Classification Report:
               precision    recall  f1-score   support

        AADS       0.00      0.00      0.00        43
        AAMD       0.00      0.00      0.00        56
        AAML       0.00      0.00      0.00        27
        AFAD       0.57      0.68      0.62        53
        AFFE       1.00      0.57      0.73         7
        AFSE       1.00      0.10      0.18        10
        AFXX       0.00      0.00      0.00         5
        ARXX       0.00      0.00      0.00        49
        ASCD       0.00      0.00      0.00      1252
        ASMD       0.00      0.00      0.00       352
        ASPI       0.25      0.77      0.38      2491
        ASRP       0.00      0.00      0.00        50
        ASUI       0.00      0.00      0.00        32
        ASWD       0.00      0.00      0.00         6
        ASXX       0.23      0.28      0.26      2442
        BFAC       0.00      0.00      0.00        13
        BFTO       0.00      0.00      0.00        29
        CCCE       0.00      0.00      0.00        48
        CCCV       0.00      0.00      0.00        49
        CCCW       0.00      0.00      0.00        46
        CSBC       0.69      0.31      0.42       173
        CSCG       0.00      0.00      0.00         6
        CSED       0.00      0.00      0.00        13
        CSFC       1.00      0.03      0.06       846
        CSSI       0.00      0.00      0.00       726
        DABD       0.00      0.00      0.00       784
        DABI       0.60      0.12      0.19       252
        DADV       0.00      0.00      0.00         4
        DADW       0.45      0.18      0.26       246
        DMKM       0.21      1.00      0.34        79
        DMMD       0.00      0.00      0.00        64
        EDME       0.00      0.00      0.00         6
        FAAG       0.93      0.61      0.74        70
        FAAU       1.00      0.96      0.98      2889
        FADS       0.00      0.00      0.00        13
        FAFA       0.48      1.00      0.65       472
        FAFD       0.86      1.00      0.92        79
        FAFI       0.00      0.00      0.00         0
        FAML       0.00      0.00      0.00        46
        FLAC       1.00      0.40      0.57         5
        FLLE       1.00      0.22      0.36         9
        FLPP       1.00      0.80      0.89         5
        FLPR       0.00      0.00      0.00        25
        FLTX       1.00      1.00      1.00      1561
        FLXX       0.80      0.12      0.21        65
        GDXX       0.00      0.00      0.00        13
        HRCB       0.00      0.00      0.00         1
        HRGM       0.00      0.00      0.00         5
        HROD       0.00      0.00      0.00         8
        HRRE       0.60      1.00      0.75         6
        HRRM       1.00      1.00      1.00         1
        HRSS       0.00      0.00      0.00         2
        HRTR       0.50      1.00      0.67         2
        HRXX       0.93      1.00      0.97        28
        HSGL       0.00      0.00      0.00       338
        INAU       1.00      0.64      0.78       120
        INDB       1.00      1.00      1.00         4
        INDS       0.00      0.00      0.00        66
        INNE       0.75      0.22      0.34        27
        INRA       0.92      0.29      0.45        78
        INSS       0.75      0.75      0.75         4
        INTI       0.00      0.00      0.00         7
        INXX       0.99      0.99      0.99       138
        LECO       0.00      0.00      0.00        52
        LEPO       0.00      0.00      0.00        16
        MBCC       0.00      0.00      0.00         2
        MBCM       0.00      0.00      0.00         6
        MBDM       0.00      0.00      0.00       433
    No Match       0.31      0.44      0.37      1057
        PDFD       0.59      0.96      0.73      1462
        PDFS       0.00      0.00      0.00         9
        PDHD       0.42      0.06      0.10       938
        PDLE       1.00      1.00      1.00        45
        PDXX       0.00      0.00      0.00       142
        PRPO       1.00      1.00      1.00        10
        PRXX       0.98      0.98      0.98        44
        QAXX       0.00      0.00      0.00         1
        RABF       1.00      0.11      0.19        28
        RASR       0.00      0.00      0.00        77
        RAVA       0.00      0.00      0.00        74
        RIER       0.94      0.97      0.95        60
        RIOR       0.26      0.23      0.24       238
        SAAC       0.00      0.00      0.00         2
        SABD       1.00      1.00      1.00         3
        SAPS       0.00      0.00      0.00        84
        SAXX       0.95      1.00      0.98        59
        SSSO       0.00      0.00      0.00        19
        SYIN       1.00      0.90      0.95        10
        SYPT       0.00      0.00      0.00         1
        SYXX       0.90      0.08      0.14       119
        TEMT       0.00      0.00      0.00        72
        TOFS       0.00      0.00      0.00        41
        TOMR       0.00      0.00      0.00         7
        TOSI       0.00      0.00      0.00         4
        TRPR       0.00      0.00      0.00         2
        TRTN       0.00      0.00      0.00         4
        TWXX       1.00      1.00      1.00        14
        UEXX       0.00      0.00      0.00        35

    accuracy                           0.48     21516
   macro avg       0.35      0.28      0.28     21516
weighted avg       0.45      0.48      0.41     21516

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [41]:
X_test_unseen = []

for i, col in enumerate(train_cols):
    vectorizer = vectorizers[i]
    X_test_col = vectorizer.transform(df_test.loc[:, col])
    X_test_unseen.append(X_test_col)
    
X_unseen = hstack(X_test_unseen)

In [42]:
y_test_pred = model.predict (X_unseen)

In [43]:
pd.DataFrame(y_test_pred).to_csv('maps_big4')

In [44]:
df_test

         Co. Designation   Co. Function Job Family Code
0                 Senior  Digital Nexus        Unmapped
1      Assistant Manager  Digital Nexus        Unmapped
2              Executive  Digital Nexus        Unmapped
3              Executive  Digital Nexus        Unmapped
4                Manager  Digital Nexus        Unmapped
...                  ...            ...             ...
9958      Senior Analyst             CH        Unmapped
9959   Assistant Manager             CH        Unmapped
9960      Senior Analyst             CH        Unmapped
9961  Associate Director             CH        Unmapped
9962   Assistant Manager             CH        Unmapped

[9963 rows x 3 columns]